.left{
    width: 50%;
    float: left;
}
.right{
    width:50%;
    float: right;
}
ul > li{
    list-style: none;
}
ul{
    padding: 0;
    display:flex;
}
.icon{
    width: 20%;
    float: left;
    border: 2px dotted;
}
.home{
    height: 700px;
    color: white;
    /* border: 2px solid; */
}
.list{
    height: 50px;
    background-color: #d9263c;
    /* border: 2px dotted; */
}
.container-xxl{
    max-width: 1270px;
    height: 100%;
    margin: 0 auto;
    border: 2px dotted black;
}
.tag{
    max-width: 600px;
    height: 80%;
    margin: 5px;
    /* border: 2px solid black; */
}
.lcmw{
    max-width: 700px;
    height:100%;
    /* border: 2px solid black; */
}
.dropdown{
    margin: 6px 20px;
}
.dropdown button {
    width:120px;
    height:100%;
    position: relative;
    background-color: #d9263c;
}
.dropdown-menu.show {
    min-width:15% !important;
}
/* Style the dropdown items */
.dropdown-menu .dropdown-item {
    width: 120px;
    color: #333; /* Set the text color */ 
    /* border: 2px solid; */
}
.btn,.dropdown-toggle{
    border-color: #d9263c!important;
}
.btn:hover{
    border-color: #d9263c!important;
}
.btn-secondary:hover {
    color: #fff;
    border-color: #d9263c!important;
    background-color: #d9263c!important;
}
.btn-secondary.focus, .btn-secondary:focus {
    color: #fff;
    border-color: #d9263c!important;
    background-color:#d9263c;
}
/* On hover, highlight the dropdown items */
.dropdown-menu .dropdown-item:hover {
    background-color: #ddd; 
    /* border: dotted black; */
}
.dropdown-li{
    max-width: 100px;
    border: 2px solid;
}
/* Remove default Bootstrap box shadow on focus */
.dropdown button:focus {
    box-shadow: none!important;
    border-color: #d9263c!important;
    background-color: #d9263c;
}
.deals{
    padding: 5px;
}

.megashop{
    width:100%;
    height: 100px;
    padding: 10px;
    background-color: #f12a43;
    /* border: 2px dotted; */
}
.title,.search{
    float: left;
    align-items: center;
}
.title{
    width: 20%;
    height: 80%;
    padding: 10px;
    /* border: 2px dotted; */
}
.search{
    width: 50%;
    margin-top: 20px;
    /* border: 2px solid black; */
}
.form-control.input-lg{
    /* border: 2px solid black; */
}
.select-wrapper{
    /* border:2px solid black; */
}
.form-control.innner-search{
    width: 100%;
    height: 80%;
    border-radius: 2px;
    border-left:1px solid silver ;
}
.btn-default{
    color: white!important;
    border: 2px solid white;
}
.input-group-btn{
    height: 50px;
    /* border: 2px solid; */
    background-color: black!important;
}
.callcart{
    height: 80px;
    display: flex;
    align-items: center;
    /* border: 2px solid; */
}
.call,.cart{
    width:49%;
    height: 60px;
    margin: 9px 5px;
    padding: 3px;
    text-align: center;
    border: 2px dotted black;
}
.cart{
    height: 50px;
    padding: 15px;
    border-left:1px solid silver ;
}
.product{
    width: 100%;
    height: 100%;
    display: block;
    border: 2px solid black;
}
.flat{
    width: 1270px;
    height: 20%;
    margin: 15px auto;
    border: 2px dotted black;
}
.banner{
    width: 100%;
}
.megapro{
    max-width: 1270px;
    height: 83%;
    margin: 0 auto;
    display: flex;
    border: 2px dotted black;
}
.minileft,.center,.miniright{
    margin: 5px;
    border: 2px dotted black;
}
.minileft{
    width: 20%;
    height: 90%;
    
}
.center{
    width: 80%;
    height: 90%;
   
}
.cenpro{
    width: 98%;
    height: 60%;
    margin: 3px auto;
    padding: 3px;
    border: 2px dashed black;
}
.miniright{
    width: 20%;
    height: 90%;
}
.pro{
    width: 98.5%;
    height: 25%;
    margin: 0px 2px;
    display: block;
    border: 2px dashed black;
}