.left{
    width: 50%;
    float: left;
}
.right{
    width: 50%;
    float: right;
}
body{
    font-style:OpenSans;
}
strong{
    color: #f17424;
}
.color{
    color: #19467e;
}
.secondary{
    color:#333333;
}
/* mask */
.mask1{
    width: 100px;
    margin-left: 100px;
    margin-top: 300px;
    float: left;
}
.Page{
    border: 2px dotted;
}
/* Home */
.container{
    height: auto;
    border: 2px solid;
}
/* media */
.media{
    height: 50px;
    border-bottom: 2px solid;
    display: flex;
}
.filyt{
    display: flex;
    padding: 2px;
}
.mailwhats{
    padding: 5px;
    display: block;
}
.f,.i,.l,.y,.t{
    padding: 5px;
}
.C{
    width: 100px;
    max-height:20px;
    margin: 8.8px;
    margin-left: 10px;
    text-align: center;
    border-left: 2px solid;
}
.mail{
    width: 60%;
    text-align: right;
    padding-right: 20px;
}
.whats{
    width: 40%;
    text-align: center;
    padding-left: 5px;
    border-left: 2px solid;
}
/* titlenav */
.titlenav{
    height:100px;
    /* border: 2px dotted; */
}
.title{
    width: 20%;
    font-size: 30px;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    float:left;
}
nav > ul > li{
    list-style: none;
}
.nav{
    width: 45%;
    height: 60px;
    margin: 18px auto;
    align-items: center;
    /* border: 2px solid; */
}
.nav-ul{
    display:block;
    justify-content: space-between;
}
.page_link{ 
    margin: 6px 10px;
    padding: 8px;
    text-align: center;
    /* border: 2px solid; */
}
/* details */
.details{
    height: 400px;
    display:flex;
}
.content{
    max-width: 45%;
    padding: 5px;
}
.col1,.col2,.col3{
    height: auto;
    margin: 20px 10px;
    padding: 5px;
    justify-content: space-between;
}
.col3{
    width: 80%;
    text-align: center;
    background-color: #19467e;
    color: white;
    border-radius: 5px;
    margin-left: 40px;
}
/* partners */
.partners{
    height: auto;
    margin: 10px auto;
}
.nap1,.nap2,.nap3{
    height: 100px;
    margin: 10px;
}
.nap1{
    text-align: center;
    padding: 20px;
}
.nap2{
    text-align: center;
    padding: 5px;
}
.nap3{
    padding: 15px;
}
.png{
    float: left;
    margin:auto 30px ;
}
.pad{
    padding: 15px;
}
/* Course */
.container{
    height: auto;
    border: 2px solid;
}
/* title */
.course{
    height: 800px;
    margin: 10px;
    border: 2px dotted;
}
.title1{
    margin: 8px;
    padding: 20px;
    text-align: center;
    border: 2px solid;
}
.content1{
    padding: 10px;
    text-align: center;
    border: 2px solid;
}
/* course details */
.courses{
    height: 800px;
    margin: 8px;
    border: 2px solid;
}
.offer1{
    height: 300px;
    border: dotted;
}
.full,.flutter{
    max-width: 450px;
    height: 293px;
    background-image: url(./NS_PNG/Group\ 1000006176.png);
    background-size:contain;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.flutter{
    margin-right:20px;
}